html, body {
    height: 99.2%;
    margin: 0;
    padding: 0;
}

#map {
    height: 100%;
    border-color: red;
    border-style: groove;
    border-width: 5px;
}

#content {
    width: 270px;
    background-color: green;
    color: white;
}